.home {
  background: url("../../../assets/images/logo.png");

  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: left;
}
.logout {
  color: white;

  transition: 0.3s ease-in-out;
}

nav {
  /* height:20vh; */
  /* border: 5px solid black; */
  background: white;
}

/* parent ul and li*/

.parent-ul {
  display: flex;

  justify-content: space-between;
  /* padding: 10px; */
}

.links {

  text-align: center;
  color: black;
  width: 200px;
  /* text-align: center; */
  padding: 1rem;
  height: 100%;
  font-weight: bold;
  font-size: 1em;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}

.links:focus {
  outline: none;
}

.links:hover {
  color: steelblue;
}

.links:hover .dropdown {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 15px);
}

/* ----parent ul li end ---- */

/* child ul and li */

.dropdown {
    background: white;
    box-shadow: 0 3px 7px #2b2929;
box-shadow: 0 3px 3px solid black;
    color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 1em 1em 0em;
  gap: 1rem;
  white-space: nowrap;
  left: 0;
  right: 0;
  /* min-width: 12.5em; */
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.child-links {
  /* padding:10px; */
  color: rgb(0, 0, 0);
  /* white-space: pre-wrap; */
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  transition: 0.3s ease-in-out;
}

.child-links:hover {
  color: steelblue;
}

.active-link {
  color: steelblue;
}
.dt {
  /* color: red; */
  position: relative;
}
.dt-ul {
    background: white;
    box-shadow: 0 3px 7px #2b2929;
  /* border-radius: 8px; */
  padding: 1rem 0.3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 1rem;
  right: 0;

  transform: translate(100%, 35%);

  z-index: 100;
  opacity: 0;
  pointer-events: none;
  /* transform: translate(100px); */
  transition: 0.3s ease-in-out;
}

.dt:hover .dt-ul {
  opacity: 1;
  pointer-events: all;
}

.boxone {
  display: flex;
}

.boxtwo {
  display: flex;
}
