/* ul {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background: rgba(18, 19, 18, 0.733);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

li a:hover {
    background: rgba(17, 99, 48, 0.733);
} */

/* new styles */

.logout {
  background: steelblue;
  color: white;
  transform: scale(0.86);
  transition: 0.3s ease-in-out;
}
.logout:hover {
  background: white;
  color: steelblue;
}

nav {
  padding: 5px;
  /* height:20vh; */
  /* border: 5px solid black; */
  background: rgba(40, 161, 151, 0.76);
}

/* parent ul and li*/

.parent-ul{
  /* border: 5px solid steelblue; */
  display: flex;

  /* justify-content: center; */
  padding: 10px;

  flex-wrap: wrap;
}

.links {
  color: rgb(236, 236, 236);
  flex: 1 100px;
  text-align: center;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: bold;
  /* border: 2px solid darkcyan; */
  font-size: 1em;
  list-style: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 1000px;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  position: relative;
}

.links:focus {
  outline: none;
}

.links:hover {
  background: rgb(255, 255, 255);
  color: rgb(8, 66, 104);
  /* transform: scale(0.86); */
}

.links:hover .dropdown {
  opacity: 1;
  pointer-events: all;
  transform: translate(0px, 20px);
}

/* ----parent ul li end ---- */

/* child ul and li */




.dropdown {
  background: rgba(236, 236, 236, 0.877);
  border-radius: 8px;
  padding:20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  right: 0;
  left: 0;

  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translate(0px, -10px);
  transition: 0.3s ease-in-out;

}


.child-links {
  padding:10px;
  color: steelblue;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.child-links:hover{
  color: teal;
}


.active-link{
  background: rgb(255, 255, 255);
  color: rgb(8, 66, 104);

}