<nav>
    <ul>
        <li routerLink="/home">Home</li>


        <li *ngIf="manager">
            Pivot Table
            <ul>
                <li  routerLink="/upload">Generate Pivot Table</li>
                <li  routerLink="/report">View Pivot Table</li>
            </ul>

        </li>


        <li *ngIf="manager">
            Report
            <ul>
                
                <li  routerLink="/monthlyreport">Monthly Report</li>
                <li  routerLink="/clientreport">Client Report</li>
                <li  routerLink="/viewreport">Daily Report</li>
            </ul>
        </li>
        <li *ngIf="manager">
            Employee
            <ul>
                <li  routerLink="/addemployee">Add employee</li>
                <li  routerLink="/editemployee">Edit employee</li>
      
            </ul>
        </li>


        <li *ngIf="employee" routerLink="/sendreport">Send Report</li>

        <li *ngIf="employee" routerLink="/viewmystatus">My Report</li>




        <li class="logout" (click)="logOut()">Logout</li>

    </ul>
</nav>