<div class="container">
  <app-navbar></app-navbar>



  <app-toast [message]="message" [classBoolean]="toast"></app-toast>


  <div class="cardcontainer">
<div class="card">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="inputgroup">
      <h1 *ngIf="!update">Add Employee</h1>
      <h1 *ngIf="update">Edit Employee</h1>
    </div>
    <div class="formcontainer-primary" formGroupName="inputs">
      <div class="inputgroup">
        <label for="name">Name</label>
        <input name="name" class="input-primary" formControlName="name" autocomplete="off">
      </div>
      <div class="inputgroup">
        <label for="empcode">Emp code</label>
        <input name="empcode" class="input-primary" formControlName="empcode" autocomplete="off">
      </div>

      <div class="inputgroup">
        <label for="doj">Joining date</label>
        <input type="date" name="doj" class="input-primary" formControlName="doj">
      </div>

      <div class="inputgroup">
        <label for="client">Client</label>
        <select name="client" class="input-primary" formControlName="client">
          <option value="" [disabled]="true">--Select--</option>
          <option *ngFor="let client of ClientList" value="{{client}}">
            {{client}}
          </option>
        </select>
      </div>
      <div class="inputgroup">
        <label for="task">Task</label>
        <input name="task" class="input-primary" formControlName="task" autocomplete="off">
      </div>

      <div class="inputgroup">
        <label for="search">Search</label>

        <select name="search" class="input-primary" formControlName="search">
          <option value="" [disabled]="true">--Select--</option>
          <option value="Search">Search</option>
          <option value="Non-Search">Non-Search</option>
        </select>
      </div>

    </div>
    <div class="minicontainer">
      <div class="inputgroup">
        <button class="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>