<div class="container">
  <app-navbar></app-navbar>



  <app-toast [message]="message" [classBoolean]="toast"></app-toast>


  <div class="cardcontainer">
<div class="card">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="inputgroup">
      <h2 *ngIf="!update">Add Employee</h2>
      <h2 *ngIf="update">Edit Employee</h2>
    </div>
    <div class="formcontainer-primary" formGroupName="inputs">
      <div class="inputgroup">
        <label for="name">Employee Name</label>
        <input name="name" class="input-primary" formControlName="name" autocomplete="off">
      </div>
      <div class="inputgroup">
        <label for="empcode">Employee Code</label>
        <input name="empcode" class="input-primary" formControlName="empcode" autocomplete="off">
      </div>

      <div class="inputgroup">
        <label for="client">Client</label>
        <select name="client" class="input-primary" (change)="changeClientOptions($event)" formControlName="client">
          <option value="" [disabled]="true">--Select--</option>
          <option *ngFor="let client of ClientList" value="{{client}}">
            {{client}}
          </option>
        </select>
      </div>
      <!-- change start -->
      <div class="inputgroup">
        <!-- get styles from state -->
        <label for="state">Task</label>
        <ul>
          <li class="parent" (click)=display()>
            <div class="dropdown-text">
              <!-- <p>{{state.value}} </p> -->

              <p *ngIf="task.value.length==0">--Select--</p>
              <p *ngFor="let task of task.value">{{task}},</p>
            </div>
            <p class="icon">&#x276F;</p>
            <ul class="dropdown" [class.display]="displayBoolean">
              <!-- <li *ngFor="let data of stateList" (click)="getName(data)">{{data}}</li> -->
              <div *ngFor="let input of Tasklist;let i=index" class="checkbox">
                <label for="">
                    <input type="checkbox" [value]="input" (change)="add($event,i)" [checked]="isActive">
                    {{input}}
                </label>
            </div>
            </ul>
          </li>
        </ul>

      </div>

      <div class="inputgroup">
        <label for="search">Search/Non-Search</label>

        <select name="search" class="input-primary" formControlName="search">
          <option value="" [disabled]="true">--Select--</option>
          <option value="Search">Search</option>
          <option value="Non-Search">Non-Search</option>
        </select>
      </div>

      <!-- change end -->

      <!-- new Drop downs start -->
      <div class="inputgroup">
        <label for="shift">Shift</label>
        <select name="shift" class="input-primary" formControlName="shift">
          <option value="" [disabled]="true">--Select--</option>
          <option value="Morning Shift" >Morning Shift</option>
          <option value="Night Shift" >Night Shift</option>
        </select>
      </div>

      <div class="inputgroup">
        <label for="Production status">Production status</label>
        <select name="Production status" class="input-primary" formControlName="production_status">
          <option value="" [disabled]="true">--Select--</option>
          <option value="Training" >Training</option>
          <option value="100% Review" >100% Review</option>
          <option value="Partial Review" >Partial Review</option>
          <option value="100% Production" >100% Production</option>
        </select>
      </div>




      <!-- <div class="inputgroup">
        <label for="Training Duration">Training Duration</label>
        <ul>
          <li class="parent" (click)=display()>
            <div class="dropdown-icon">
              <p>{{training_duration.value}} </p>
  
            </div>
            <p class="icon">&#x276F;</p>
            <ul class="dropdown" [class.display]="displayBoolean">
              <li *ngFor="let week of counter(24)" (click)="getName(week)">{{week}}</li>
            </ul>
          </li>
        </ul>
      </div> -->
<!-- new dropdowns end -->

<!-- new fields start-->


<div class="inputgroup">
  <label for="doj">Date of Joining</label>
  <input type="date" name="doj" class="input-primary" formControlName="doj" (change)="calculatePlannedDate()">
</div>

<div class="inputgroup">
  <label for="Training Duration">Training Duration</label>
  <select name="Training Duration" class="input-primary"  formControlName="training_duration" (change)="calculatePlannedDate()">
    <option value="" [disabled]="true">--Select--</option>
    <option *ngFor="let week of counter(24)" [value]="week">
      {{week}}
    </option>
  </select>
</div>

<div class="inputgroup">
  <label for="planned_out_of_review_date">Planned Out Of Review Date</label>
  <input type="date" name="planned_out_of_review_date" class="input-primary" formControlName="planned_out_of_review_date" >
</div>


<div class="inputgroup">
  <label for="actual_out_of_review_date">Actual Out Of Review Date</label>
  <input type="date" name="actual_out_of_review_date" class="input-primary" formControlName="actual_out_of_review_date" (change)="calculatedelay_review_duration()">
</div>

<div class="inputgroup">
  <label for="Delay Review Duration">Delay Review Duration</label>
  <input type="text" name="Delay Review Duration" class="input-primary" formControlName="delay_review_duration" >
</div>

<div class="inputgroup">
  <label for="Delay Reason">Delay Reason</label>
  <select name="Delay Reason" class="input-primary" formControlName="delay_reason">
    <option value="" [disabled]="true">--Select--</option>
    <option value="Productivity issue" >Productivity issue</option>
    <option value="Quality issue" >Quality issue</option>
    <option value="Planning issue" >Planning issue</option>
    <option value="Low volume impacting review process" >Low volume impacting review process</option>
    <option value="No issue" >No issue</option>
  </select>
</div>
<!-- new fields end -->


      
    </div>
    <div class="minicontainer">
      <div class="inputgroup">
        <button class="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>