
  
  form {
    /* / border:1px solid black; / */
    padding: 1.25em;
    flex: 1;
  }
  
  .inputgroup {
    /* border: 1px solid black; */

    padding: 1.25em;
    display: grid;
    align-items: end;
    max-height: 8.125em;
    width:15em;
    /* width:70%; */
  }
  



  /* styles for task dropdown start */

  .parent{
    position: relative;
  width:14em;
    padding: 0.5em;
    border-radius: 0.3em;
    background: white;
    cursor: pointer;
    border: 1px solid grey;
    color: black;
    font-size: 0.9rem;
    height: 3em;

  
  }
  
  .dropdown{
    border:1px solid black;
    display: none;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    transform: translate(0,100%);
  max-height:10rem;
  overflow: auto;
  background:white;
  }
  
  .display{
    display:block;
  }
  
  
  
  li{
    list-style: none;
  }
  
  .dropdown li{
    padding:0.3rem;
  
  
  
  }
  
  .dropdown li:hover{
    background: rgb(207, 204, 204);
  }
  
  
  .dropdown-text{
    display: flex;
    gap: 0.1em;
    margin: 0.2em 0em;
    text-overflow: ellipsis;
white-space: nowrap;
    overflow: hidden;
    width: 90%;

  }
  

  .icon{
    position: absolute;
    right: 0.3em;
    top: 40%;

    transform: rotate(90deg);
    font-size: 0.8rem;
  }


  .checkbox{
    
    display: flex;
    gap:0.2em;
  padding:0.2em;
  }
    /* styles for task dropdown end */

    .option{
     padding:0.3em;
  
    }


    label{
      white-space: nowrap;
    }


    .taskupdate{
      color:#c1c1c1;
      border:1px solid #c1c1c1;
    }

/* modal styles start */

.text {
  /* border:1px solid black; */
  padding: 0.5em 0em;
  text-align: center;
}



.modal {
  /* border: 1px solid black; */
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  display: none;
}

.modal-content {
  /* border:1px solid black; */
  background-color: white;
  margin: 20% auto;
  padding: 1.87em 0em;
  width: 20em;
  animation: modalopen 0.5s;


}

.display {
  display: block;
}

@keyframes modalopen {
  0% {

      transform: scale(0);
  }

  100% {

      transform: scale(1);
  }
}


.openbtn {
  /* border: 1px solid black; */
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  cursor: pointer;

}


.buttoncontainer {
  /* border:1px solid black; */
  padding: 0.6em 0em;
  display: flex;
  justify-content: center;
  gap: 0.6em;
  width: 100%;

}

/* modal styles end */