<div class="container">
    <app-navbar></app-navbar>

    <div class="heading">
        <h2>My Production Data</h2>
    </div>


 
        <form [formGroup]="user" class="filter">

            <div class="inputgroup">
                <label for="date">Start Date</label>
                <input type="date" name="date" class="input-primary" formControlName="dateFilter" (change)="getStatus()">
            </div>
            <div class="inputgroup">
                <label for="date">End Date</label>
                <input type="date" name="date" class="input-primary" formControlName="enddateFilter" (change)="getStatus()">
            </div>
            <!-- <div class="inputgroup">
                <button type="submit" class="button">Filter</button>
            </div> -->
        </form>

        <form [formGroup]="filterForm" class="filter">
            <div class="inputgroup">
                <label for="date"> Date</label>
                <input type="date" name="date" class="input-primary" formControlName="date">
            </div>
            <div class="inputgroup">
                <label for="orderNumber">Order Number</label>
                <input type="text" name="orderNumber" class="input-primary" formControlName="orderNumber" autocomplete="off">
            </div>

            <div class="inputgroup">
                <label for="client">Client</label>
                <select name="client" class="input-primary" formControlName="Client" (change)="changeClientOptions($event)">
                  <option value="">None</option>
                  <option *ngFor="let client of ClientList" value="{{client}}">
                    {{client}}
                  </option>
                </select>
              </div>
              <div class="inputgroup">
                <label for="task">Task</label>
                <select name="task" class="input-primary" formControlName="Task" (change)="changeTaskOptions($event)">
                  <option value="">None</option>
                  <option *ngFor="let task of Tasklist" value="{{task}}">
                    {{task}}
                  </option>
                </select>
              </div>
              <div class="inputgroup">
                <label for="process">Process</label>
                <select name="process" class="input-primary" formControlName="Process">
                  <option value="">None</option>
                  <option *ngFor="let process of Processlist" value="{{process}}">
                    {{process}}
                  </option>
                </select>
              </div>
              <div class="inputgroup">
                <label for="status">Status</label>
                <select name="status" class="input-primary" formControlName="status">
                  <option value="">None</option>
                  <option *ngFor="let status of statusList">
                    {{status}}
                  </option>
                </select>
              </div>
              <div class="inputgroup">
            
                <button class="button" (click)="clearFields()">Clear</button>
            </div>

        </form>
   

    <div *ngIf="flag" class="report-container">
       <div *ngIf="datas" class="report">
            <app-table [data]="datas|multifilter:filterForm.value"></app-table>
        </div>
    </div>
    <div class="statusmsg" *ngIf="!flag">
        <h2>No status updates available</h2>

    </div>

</div>




