

<div class="container">
    <app-navbar></app-navbar>
    <app-toast [message]="message" [classBoolean]="toast"></app-toast>
    <div class="formcontainer" *ngIf="flag==0">

        <div class="form" >
            <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">

                <div class="inputgroup">
                    <h3>Upload file</h3>
                </div>
                <!-- for rvsi -->
                <div class="inputgroup">
                    <input type="file" name="file" id="file" class="file" #rvsi (change)="onFileSelect($event,'rvsi')" >
                    <div class="d-flex">
                      <input type="text" name="file-name" id="file-name" class="file-name" readonly="readonly" [value]="rvsiFileName" (click)="rvsi.click()">
                    </div>
                </div>


                <!-- for sp2 -->
                <div class="inputgroup">
                    <input type="file" name="file" id="file" class="file" #sp2 (change)="onFileSelect($event,'sp2')" >
                    <div class="d-flex">
                      <input type="text" name="file-name" id="file-name" class="file-name" readonly="readonly" [value]="sp2FileName" (click)="sp2.click()">
                    </div>
                </div>


                <div class="inputgroup">
                    <div>
                        <button type="submit" class="button">Generate report</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    
<div class="formcontainer" *ngIf="flag==1">
<h2>Please wait...</h2>
</div>

</div>