
<div class="container">
<h3>Upload file</h3>

<form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">

    <div class="form">
        <label for="customFile" >{{'Choose RVSI & SP2 files'}}</label>
        <input type="file"  id="customFile" name="file"  multiple
            (change)="onFileSelect($event)" #UploadFileInput> 
        <div>
            <button type="submit" class="button">Upload</button>
        </div>

    </div>
    
</form>


<table>
  
    <tr >
        <div *ngFor="let title of titles">
            <th>{{title}}</th>
        </div>
        

      
    </tr>

    <tr *ngFor="let data of datas">
        <td >{{data.Task_Name}}</td>
        <td>data.FL</td>
        <td>2</td>
        <td>3</td>
        <!-- <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td> -->

    </tr>
</table>

</div>