

<!-- <div class="container" *ngIf="div1"> -->

<div class="container">
    <app-navbar></app-navbar>
    <div class="form">
    <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()" class="forminputs">

       
            <h3>Upload file</h3>
            <div class="button">Fetch excel files</div>
            <label for="customFile">{{'Choose RVSI & SP2 files'}}</label>
            <input type="file" id="customFile" name="file" multiple class="custom-file-input"
                (change)="onFileSelect($event)" #UploadFileInput>
            <div>
                <button type="submit" class="button">Generate report</button>
            </div>

  
    </form>
</div>
</div>
<!-- </div> -->
<!-- <div *ngIf="div2"> -->



<!-- </div> -->