.inputgroup{
    padding:1.25em;
    width: 14em;
    /* border:1px solid black; */
 
}



  
  label{
      display: block;
      color:steelblue;

  }

  td {
    padding:0.3em;
    white-space: nowrap;
  }
  
  
  th{
    position:sticky;
    top:0;

  }


  .report-container{
padding:2em 1em;
  } 



  form{

    display:flex;
    flex-wrap: wrap;
  justify-content: center;
  }



td{
  border:1px solid rgb(42 67 125);
}

.weekend{
  background: rgb(178 200 253);
}

.statusmsg {

  text-align: center;
  display: flex;
  color:rgba(29, 51, 110, 0.76);
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex:1;

}
