/* new styles */

/* .container {
            display: flex;
            flex-direction: column;

            min-height: 100vh;
        } */

.contentcontainer {
  height: 80vh;
  position: relative;
  flex: 1;
  /* background: rgb(161, 161, 192); */
  overflow: hidden;
  /* background: linear-gradient(45deg,white,skyblue); */
  background: url("../../../assets/images/bg.png");
  background-size: cover;
  /* background-position: center; */
  
}

.box {
  padding: 1em;
}

.one {
  grid-area: one;
  padding: 2em 5em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
background:white;
 
box-shadow: -1px 1px 20px 5px #243062;

  /* box-shadow: 0px 6px 12px 0px grey; */
  text-transform: capitalize;
}


.flexcontainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.design {
  z-index: 2;
  padding: 5em;
  position: absolute;
  left: 0;

  /* border:1px solid black; */
}

.design1 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(113 137 156), rgb(36 49 98));
  clip-path: polygon(100% 56%, 0 100%, 100% 100%);
  z-index: 4;
}

.design2 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, #dc4a32, #3a1d18);
  clip-path: polygon(100% 63%, 51% 80%, 0 64%, 0 100%, 100% 100%);
}
