.box {
    width: fit-content;
    padding: 20px;
    margin-left: 100px;

}

.container {

    height: 100vh;
    overflow: hidden;
    background-image: url(../../../assets/images/pic2.jpg);
    
    background-size: 100% ; 
    
   

}


h1{
border-bottom:1px solid rgba(236, 240, 243, 0.664);
padding:10px;
width:fit-content;
color:rgb(199, 198, 198);


}



.card {
    
    border-radius:5px;
    margin: 150px 0px;
    /* color: white;  */
    padding: 30px;
    
}

.content {
    padding: 10px;
    line-height: 2.5;
    font-size:1.3rem;
    color:rgb(199, 198, 198);
 
}

h1{
font-size: 2rem;
}
