.inputgroup {

  display: flex;
  width: 250px;
}


input {

  border: 1px solid grey;
width:100%;
}



label {
  display: block;
  color: steelblue;
}


/* common styles */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 0.8em;
}

td {
  /* border: 1px solid black; */

  white-space: nowrap;
}

th {
  cursor: pointer;
padding:0.5rem;
  text-transform: uppercase;
  background: rgb(48, 48, 231);
  color: white;
}

tr:first-child th {
  background: rgb(243, 241, 241);
  text-transform: capitalize;
}

tr:nth-of-type(even) {
  background: rgb(180, 213, 226);
}

.tablecontainer {
  /* border: 1px solid black; */
  overflow: auto;
  max-height: 80vh;
}

/* common styles end */

.report-container {
  padding: 0.1rem;
}



form {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* flex-direction: column; */
}
