.inputgroup {

  display: flex;
  width: 200px;
}


input {

  border: 1px solid grey;
  padding:5px;
width:100%;
}



label {
  display: block;
  color: steelblue;
}


/* common styles */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 0.8em;
}

td {
  /* border: 1px solid black; */

  white-space: nowrap;
}

th {
  cursor: pointer;
padding:0.5rem;
  text-transform: uppercase;
  background: rgb(48, 48, 231);
  color: white;
}

tr:first-child th {
  background: rgb(243, 241, 241);
  text-transform: capitalize;
}

tr:nth-of-type(even) {
  background: rgb(180, 213, 226);
}

.tablecontainer {
  /* border: 1px solid black; */
  overflow: auto;
  max-height: 80vh;
}

/* common styles end */

.report-container {
  padding: 0.1rem;
}



form {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* flex-direction: column; */
}


.modal{
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
  position: fixed;
  height: 100%;
  width:100%;
  z-index: 1;
  overflow:auto;
  top:0;

  left:0;
  display: none;
  


}


.modal-content{

background-color: white;
margin:20% auto;
padding:30px;
width:320px;
animation: modalopen 0.5s;


}

.display{
  display:block;
}



@keyframes modalopen{
0%{
/* opacity: 0; */
transform: scale(0);
}
100%{
/* opacity: 1; */
transform: scale(1);
}
}



.openbtn{
  border:1px solid black;
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  cursor: pointer;

}


.buttoncontainer{

  padding:10px 0px;
  display: flex;
  gap:10px;
}

.text{
  padding: 10px 0px;
}