<div class="container">
    <div class="mincontainer">

        <div class="imagecontainer">

        </div>


        <div class="logincontainer">


        <div class="loginbox" *ngIf="flag==0">
            <div class="logintitle" *ngIf="flag==0">
                <h1>Login</h1>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="inputarea">
                    <label for="username">Username</label><input id="username" type="text" class="input"
                        formControlName="username" autocomplete="off">
                    <div *ngIf="(username.invalid && loginFlag) ||username.invalid && (username.dirty||username.touched)">
                        <small class="warning-message">username required</small>
                    </div>
                </div>
                <div class="inputarea">
                    <label for="password">Password</label><input id="password" type="password" class="input"
                        formControlName="password">
                    <div *ngIf="(password.invalid && loginFlag ) || password.invalid && (password.dirty||password.touched)">
                        <small class="warning-message">Password required</small>
                    </div>
                </div>
                <div class="inputarea" style="align-items: center;justify-content: start;height:3em;">
                    <button type="submit" class="button">Sign in</button>
                </div>
            </form>
        </div>

        <div class="status" *ngIf="flag==1">
            <h2>Loading...</h2>
        </div>
        <div *ngIf="notValid && flag==0"> 
            <div class="invalidcred">Invalid credentials</div>
        </div>

        <div *ngIf="noAccess && flag==0">
            <div class="invalidcred">Access denied</div>
        </div>
        </div>
        <!-- <div class="design design1"></div>
        <div class="design design2"></div>
        <div class="design design3"></div> -->
    </div>
</div>