.container {
  display: flex;
  flex-direction: column;

  background: white;
  /* border: 4px solid black; */
  min-height: 100vh;

}

.mincontainer {
  position: relative;
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.loginbox {
  position: relative;
  width: 21em;
  background: white;
  padding: 1.25em;
  border-radius: 5%;
  box-shadow: -2px 3px 30px 10px rgb(37 49 99);
}

label {
  margin-bottom: 0.6em;
  color: steelblue;
}

.input {
  width: 100%;
  padding: 0.6em;
  border-radius: 0.3em;
  border: grey 1px solid;
}

h1 {
  font-weight: 500;
  color: #243062;
  font-size:1.6em;
}

.inputarea {
  padding: 0.6em 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.5em;
  position: relative;
}

.button {
  cursor: pointer;
  border: none;
  background: #243062;
  color: white;
  border-radius: 1000px;
  padding: 0.6em 3.45em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease-in-out;
  display: block;
  white-space: nowrap;
  margin-top: 0em;
}

.button[disabled] {
  cursor: pointer;
  border: none;
  opacity: 0.5;
  background: #243062;
  color: white;
  border-radius: 1000px;
  padding: 0.6em 3.45em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease-in-out;
  display: block;
  white-space: nowrap;
  margin-top: 0em;
}

.button:hover[disabled] {
  background: steelblue;
  cursor: default;
  opacity: 0.5;
}

.button:hover {
  background: rgb(42, 83, 116);
  cursor: pointer;
}

.warning-message {
  color: red;

  position: absolute;
  bottom: 0;
}

.invalidcred {
  position: relative;
  /* width: 2em; */
  font-weight: lighter;
  color: rgb(216, 47, 47);
  background: #ffe3e6;
  text-align: center;
  width: 21em;
  padding: 0.6em;
  border-radius: 0.3em;
  border: rgba(158, 28, 35, 0.2) 1px solid;
}

.logintitle {
  font-weight: bolder;
  border-radius: 1000px;
  position: absolute;
  top: -1.1em;
  left: 0;
  right: 0;


  font-weight: bolder;
  background: white;
  padding: 0.3em;
  box-shadow: 0 3px 22px #243062;
}
/* child elements for mini container */
.logincontainer {
  flex: 1 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  width: fit-content;
}

.imagecontainer {
  flex: 1 30em;
  z-index: 2;
  background: url("../../../assets/images/log.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.design {
  z-index: 2;
  padding: 5em;
  position: absolute;
  left: 0;

  /* border:1px solid black; */
}

.design1 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(113 137 156), rgb(36 49 98));
  clip-path: polygon(100% 56%, 0 100%, 100% 100%);
  z-index: 4;
}

.design2 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, #dc4a32, #3a1d18);
  clip-path: polygon(100% 63%, 51% 80%, 0 64%, 0 100%, 100% 100%);
}

.design3 {
  width: 100%;
  background-image: linear-gradient(to left, rgb(113 137 156), rgb(36 49 98));
  clip-path: polygon(0 0, 0% 100%, 100% 0);

  top: 0;
}

/* 
@media screen and (max-width:50em) {
  .imagecontainer{
    display: none;
  }
} */