.container {
  display: flex;
  flex-direction: column;

  background: white;
  /* border: 4px solid black; */
  min-height: 100vh;

}

.mincontainer {
  position: relative;
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
}

.loginbox {
  width: 20em;
  background: white;
  padding: 1.25em;
  border-radius: 1%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 0.6em;
  color: steelblue;
}

.input {
  width: 100%;
  padding: 0.6em;
  border-radius: 0.3em;
  border: grey 1px solid;
}

h1 {
  font-weight: lighter;
}

.inputarea {
  padding: 0.6em 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.5em;
  position: relative;
}

.button {
  cursor: pointer;
  border: none;
  background: steelblue;
  color: white;
  border-radius: 0.3em;
  padding: 0.6em 1.25em;
  width: fit-content;
  transition: 0.3s ease-in-out;
  display: block;
  white-space: nowrap;
  margin-top: 1.65em;
}

.button[disabled] {
  border: none;
  background: steelblue;
  opacity: 0.5;
  color: white;
  border-radius: 0.3em;
  padding: 0.6em 1.25em;
  display: block;
}

.button:hover[disabled] {
  background: steelblue;
  cursor: default;
  opacity: 0.5;
}

.button:hover {
  background: rgb(42, 83, 116);
  cursor: pointer;
}

.warning-message {
  color: red;

  position: absolute;
  bottom: 0;
}

.invalidcred {
  font-weight: lighter;
  color: rgb(216, 47, 47);
  background: #ffe3e6;
  text-align: center;
  width: 20em;
  padding: 0.6em;
  border-radius: 0.3em;
  border: rgba(158, 28, 35, 0.2) 1px solid;
}

.logintitle {
  margin: 0.6em;
  font-weight: bolder;

  color: rgb(48, 146, 216);
}

/* child elements for mini container */
.logincontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  width: fit-content;
}

.imagecontainer {
  flex: 1;
  z-index: 2;
  background: url("../../../assets/images/NTC_Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.circle {
  z-index: 2;
  padding: 5em;
  position: absolute;
  left: 0;

  /* border:1px solid black; */
}

.circle1 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(113 137 156), rgb(36 49 98));
  clip-path: polygon(100% 56%, 0 100%, 100% 100%);
  z-index: 4;
}

.circle2 {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, #dc4a32, #3a1d18);
  clip-path: polygon(100% 63%, 51% 80%, 0 64%, 0 100%, 100% 100%);
}

.circle3 {
  width: 100%;
  background-image: linear-gradient(to left, rgb(113 137 156), rgb(36 49 98));
  clip-path: polygon(0 0, 0% 100%, 100% 0);

  top: 0;
}
