.mincontainer {
  /* margin:20px; */
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background: rgb(243, 241, 241); */

  height: 90vh;
}

.loginbox {
  /* height:600px; */

  width: 20em;
  background: white;
  padding: 1.25em;
  border-radius: 2%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}
label {
  margin-bottom: 0.6em;
}

.input {
  width: 100%;
  padding: 0.6em;
  border-radius: 0.3em;
  border: grey 1px solid;
}

h1 {
  font-weight: lighter;
}

.inputarea {
  padding: 0.6em 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.5em;
  position: relative;
}

.button {
  border: none;
  background: steelblue;
  color: white;
  border-radius: 0.3em;
  padding: 0.6em 1.25em;
  width: 5.3em;
  transition: 0.3s ease-in-out;
}
.button[disabled] {
  border: none;
  background: steelblue;
  opacity: 0.5;
  color: white;
  border-radius: 0.3em;
  padding: 0.6em 1.25em;
}

.button:hover[disabled] {
  background: steelblue;
  cursor: default;
  opacity: 0.5;
}
.button:hover {
  background: rgb(42, 83, 116);
  cursor: pointer;
}

.warning-message {
  color: red;

  position: absolute;
  bottom: 0;
}

.invalidcred {
  font-weight: lighter;
  color: rgb(216, 47, 47);
  background: #ffe3e6;
  text-align: center;
  width: 20em;
  padding: 0.6em;
  border-radius: 0.3em;
  border: rgba(158, 28, 35, 0.2) 1px solid;
}

.logintitle {
  margin: 0.6em;
  font-weight: bolder;
  color: rgb(48, 146, 216);
}
