
  .success{
    color: #3c763d;
    background-color: #dff0d8;
  }

  .warning{
    color: #76583c;
    background: #FFECB3;
  }

  .error{
    color: #763c3c;
    background-color: #f0d8d8;
  }

  p::first-letter{
    text-transform: capitalize;
  }