* {
  scroll-behavior: smooth;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}




table {
  text-align: center;
  /* width:500px;  */
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-top-left-radius: 1.25em;
  border: 1px solid black;

}

th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}

.taskname {
  font-weight: bolder;
  position: sticky;
  left: 0;
  background: rgb(42 67 125);
  color: white;
  z-index: 900;
  padding: 0.8em;

}

.titles {
  top: 0;
  position: sticky;
  padding: 1em;

  /* border:2px solid red; */
}

.multiselect {
  width: 12.5em;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.checkboxes {
  z-index: 10000;
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.6em;
  width: 12.5em;

  overflow: scroll;
  height: 12.5em;
  transition: 0.3s ease-in-out;
}

.multiselect {
  position: relative;
}



.select {
white-space: nowrap;
  padding: 0.6em 1.25em;
  background: white;
border: 1px solid black;
  font-weight: bold;
  text-align: center;
  
  cursor: pointer;
}

.option {
  margin: 0.6em;
}

.selectcontainer {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.25em;
}

.display {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

input[type="file"]::file-selector-button {
  background: rgb(39, 131, 196);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  outline: none;
  white-space: nowrap;

  cursor: pointer;
  color: white;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: rgb(19, 88, 137);
}

input[type="file"]::-webkit-file-upload-button {
  background: rgb(39, 131, 196);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  outline: none;
  white-space: nowrap;

  cursor: pointer;
  color: white;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

.tablecontainer {
    margin: 0 1.25em;
    width: 95%;
    resize: both;
    overflow: auto;
    max-height: 70vh;
    /* padding: 0 20px; */

}


.elseblock {
  padding: 1.56em;
  height: 12.5em;
  color: steelblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.filter {

  padding: 1em 0.6em 0em 0.6em;
  display: flex;
}
.inputgroup {
width:12.5em;
  /* border:1px solid black; */
  color: rgba(29, 51, 110, 0.76);
  padding: 0.6em;
}

