.inputgroup {
  width: 14em;
  padding: 0 1em;
}

th {
  position: sticky;
  top: 3.2em;
  z-index: 11;
}

td {
  padding: 0.5em;
  font-size: 0.8rem;
  border:1px solid rgb(42 67 125);
}

.report-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0em 1em;
}

.formcontainer {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}



.search {
  border: 1px solid grey;
  padding: 0.4em;
  background: white;
}
