.inputgroup{
    padding:20px;
    /* border:1px solid black; */
    margin:50px 0px;
}
.button {
    border: none;
    cursor: pointer;
    display: block;
    background: steelblue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 105px;
    margin: 10px 0;
    transition: 0.3s ease-in-out;
  }
  /* label{
     padding:10px 0;
  } */
  
  .button:hover{
    background: rgb(47, 88, 119);
  }

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    margin:10px 0px;
  }
  label{
      display: block;
      color:steelblue;

  }