.minicontainer {

    display: flex;

    justify-content: center;

    width: 100%;

}




textarea {
  padding: 0.6em;

  width: 100%;
  border-radius: 0.6em;
}
.inputarea {
  padding: 1.2em;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.warning-message {
  color: teal;
  font-size: 14px;
  text-transform: capitalize;
}




/* input {
  padding: 0.6em;
  border-radius: 0.3em;
  border: 1px solid grey;
  width: 100%;
}

 */




form {
  /* / border:1px solid black; / */
  padding: 1.2em;
  flex: 1;
}

.buttoncontainer {
  /* / border:1px solid black; / */
  padding: 1.2em 0em;
  width: 50%;
  display: flex;
  /* / justify-content: space-around; / */
}


.formcontainer-primary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, auto));
}

.inputgroup {
  /* border: 1px solid black; */
  color: rgba(29, 51, 110, 0.76);
  padding: 1.1em;
  display: grid;
  align-items: end;
  max-height: 8em;
  /* width:70%; */
}





.parent{
  position: relative;

  padding: 0.5em;
  border-radius: 0.3em;
  background: white;
  cursor: pointer;
  border: 1px solid grey;
  color: black;
  width: 100%;
  font-size: 0.9rem;
  height: 3em;

}

.dropdown{
  border:2px solid black;
  display: none;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  transform: translate(0,100%);
max-height:10rem;
overflow: auto;
background:white;
}

.display{
  display:block;
}



li{
  list-style: none;
}

.dropdown li{
  padding:0.3rem;



}

.dropdown li:hover{
  background: rgb(207, 204, 204);
}


.dropdown-icon{
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0em;
}

