<div class="container">
    <app-navbar></app-navbar>
    <app-toast [message]="message" [classBoolean]="toast" [toastStatus]="toastStatus"></app-toast>
    <div class="cardcontainer">
        <div class="reset-container">
            
            <form [formGroup]="form">
                <h2>Reset Password</h2>
                <div class="inputgroup">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" formControlName="currentPassword" class="input-primary"
                        placeholder="current password">
                </div>

                <div class="inputgroup">
                    <label for="newPassword">New Password</label>
                    <input type="password" formControlName="newPassword" class="input-primary" placeholder="new password">
                </div>
                <small style="color: red;" *ngIf="newPassword.dirty && !newPassword.valid">
                    Password must contain (one special character,number,capitals,must be atleast 8 character long)
                </small>
                <div class="inputgroup">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="input-primary"
                        placeholder="confirm password">
                </div>

                <small style="color: red;" *ngIf="confirmPassword.dirty && newPassword.value!=confirmPassword.value">
                    Passwords dont match
                </small>
                <div class="inputgroup" style="justify-self: center;">
                    <button class="button"(click)="submit()" [disabled]="!this.form.valid || confirmPassword.dirty && newPassword.value!=confirmPassword.value">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>